.tag{
    display:grid;
    height: 28px;
    width: auto;
    padding-left:10px;
    padding-right:10px;
    background: rgb(243, 240, 240);
    border: 2px solid rgb(130, 173, 180);
    color:rgb(130, 173, 180);
    border-radius: 20px;
    margin-right: 10px;
    align-items: center;
    transition-duration: 500ms;
}



.tag.All {
    border: 2px solid rgb(44, 71, 75);
    color:rgb(46, 89, 95);
    box-shadow: 0px 0px 10px 0 rgba(6, 80, 58, 0.192);
}



.tag.All:hover {
    color:rgb(222, 243, 245);
    font-weight: bold;
    border: 2px solid rgb(25, 28, 31);
    background-color: rgb(25, 32, 37);
}

.tag.RTalk:hover {
    color:rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid rgb(11, 145, 255);
    background-color: rgb(11, 145, 255);
}

.tag.workshop:hover {
    color:rgb(255, 255, 255);
    font-weight: bold;;
    border: 2px solid rgb(255, 11, 84);
    background-color: rgb(255, 11, 84);
}

.tag.conference:hover {
    color:rgb(255, 255, 255);
    font-weight: bold;;
    border: 2px solid rgb(5, 224, 96);
    background-color: rgb(5, 224, 96);
}

.tag.competition:hover {
    color:rgb(255, 255, 255);
    font-weight: bold;;
    border: 2px solid rgb(158, 224, 5);
    background-color: rgb(158, 224, 5);
}



.table_tag{

    display: grid;
    height:20px;
    width:fit-content;
    padding-left:10px;
    padding-right:10px;
    border-radius: 20px;
    background:rgb(130, 201, 229);
    text-align:center;
    align-items:center;
    color:white;
    font-weight: bolder;
    font-size: 15px;
        
}

.table_tag.researchtalk{
    background:  rgb(11, 145, 255);
}
.table_tag.workshop{
    background:  rgb(255, 11, 84);
}


.table_tag_hold{
    display:flex;
    flex-direction:column;
    width:fit-content;
    padding:3px;
    gap: 3px;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
}