@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  line-height: 1.2;
}

.selected-item {
  margin: 20px 0;
  text-align: start;
}
.selected-item p {
  font-size: 18px;
}
.selected-item p span {
  font-weight: bold;
}
/* dropdown list */
.dropdown {
  /* margin: 20px auto; */
  
  margin: 0px;
  width: 300px;
  position: relative;
  perspective: 800px;
}
.dropdown.active .selLabel:after {
  content: '\25B2';
}
.dropdown.active .dropdown-list li:nth-child(1) {
  transform: translateY(100%);
}
.dropdown.active .dropdown-list li:nth-child(2) {
  transform: translateY(200%);
}
.dropdown.active .dropdown-list li:nth-child(3) {
  transform: translateY(300%);
}
.dropdown.active .dropdown-list li:nth-child(4) {
  transform: translateY(400%);
}
.dropdown.active .dropdown-list li:nth-child(5) {
  transform: translateY(500%);
}
.dropdown > span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background: #34495e;
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transition: transform 300ms;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;
}
.dropdown > span:active {
  transform: rotateX(45deg);
}
.dropdown > span:active:after {
  content: '\25B2';
}
.dropdown-list {
  position: absolute;
  top: 0px;
  width: 100%;
}
.dropdown-list li {
  display: block;
  list-style: none;
  left: 0;
  opacity: 1;
  transition: transform 300ms ease;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown-list li:nth-child(1) {
  background-color: #5f7a75;
  z-index: 4;
  transform: translateY(0);
}
.dropdown-list li:nth-child(2) {
  background-color: rgb(101, 28, 197);
  z-index: 3;
  transform: translateY(3%);
}
.dropdown-list li:nth-child(3) {
  background-color: rgb(16, 207, 134);
  z-index: 2;
  transform: translateY(6%);
}
.dropdown-list li:nth-child(4) {
  background-color: rgb(204, 207, 16);
  z-index: 1;
  transform: translateY(9%);
}

.dropdown-list li:nth-child(5) {
  background-color: rgb(207, 16, 96);
  z-index: 1;
  transform: translateY(9%);
}

.dropdown-list li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-size: 18px;
  line-height: 60px;
  padding: 0 30px;
  display: block;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}
