@font-face{
    font-family: "roboto";
    src: url('./fonts/RobotoCondensed-Regular.ttf');
}

body{
    width: 100%;
    font-family:roboto;
    margin:0;  
}


.dropbtn {
    background-color: rgb(232, 240, 238);
    padding: 16px;
    font-size: 16px;
    border: 3px solid rgb(106, 177, 199);
    border-radius: 10px;
    outline: none
}

.heading{
    display: flex;
    width:100vw;
    background-color:rgb(223, 223, 223);

    color: rgb(33, 47, 53);
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: start;
}

.heading label{
    padding-left:40%;
    font-size: 35px;
}



.topicTable {
    border-collapse: collapse;
    width: 100%;
    overflow:scroll;
}

tr {
    background:rgb(204, 211, 212);
}



.topicTable td,
.topicTable th {
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) {
} */

.even{
    background-color: #e8f0f5;
}
.odd{
    background:rgb(204, 211, 212);
}

tr:hover{
    /* opacity: 0.8; */
    color:rgb(23, 86, 138);
}

/* tr:nth-child(even):hover {
    background:rgb(200, 217, 219);
} */

@media only screen and (max-width: 750px) {
   .heading{
       width: 100%;
       padding-top: 10%;
        flex-direction: column;
        overflow: hidden;
    }
   
   .heading label {
    padding: 0;
    margin-top: 1%;   
   }
}

.table_div{
    /* overflow:scroll; */
    padding: 10px;
}

.topicTable_div{
    overflow:scroll;
}

/* .category{
    
    transform: translateX(-14%) scale(0.7);
    opacity: 0;
    width: 100vw;
    transition-duration: 1s;
} */

