.tag{
    display:grid;
    height: 28px;
    width: auto;
    padding-left:10px;
    padding-right:10px;
    background: rgb(243, 240, 240);
    border: 2px solid rgb(130, 173, 180);
    color:rgb(130, 173, 180);
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    align-items: center;
    transition-duration: 200ms;
}


@keyframes color_anim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.tag:hover{
    box-shadow: 0px 0px 10px 0 rgba(14, 46, 36, 0.582);
}

.tag.All {
    border: 2px solid rgb(44, 71, 75);
    color:rgb(46, 89, 95);
}



.tag.All.active {
    color:rgb(222, 243, 245);
    font-weight: bold;
    border: 2px solid rgb(25, 28, 31);
    background-color: rgb(25, 32, 37);
}


.tag.RTalk.active{
    color:rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid #2a9d8f;
    background-color: #2a9d8f;
}

.tag.workshop.active {
    color:rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid #e63946;
    background-color: #e63946;
}

.tag.conference.active {
    color:rgb(255, 255, 255);
    font-weight: bold;;
    border: 2px solid #023e7d;
    background-color: #023e7d;
}

.tag.competition.active {
    color:rgb(255, 255, 255);
    font-weight: bold;;
    border: 2px solid #80b918;
    background-color: #80b918;
}



.table_tag{

    display: grid;
    height:40px;
    width:40px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 20px;
    background:rgb(130, 201, 229);
    text-align:center;
    align-items:center;
    color:white;
    font-weight: bolder;
    font-size: 15px;
        
}

.table_tag.researchtalk{
    background:  #2a9d8f;
}
.table_tag.workshop{
    background:  #e63946;
}
.table_tag.conferece{
    background:  #023e7d;
}
.table_tag.competition{
    background:  #80b918;
}


.table_tag_hold{
    display:flex;
    flex-direction:row;
    width:fit-content;
    padding:3px;
    gap: 3px;
    /* background-color:rgb(81, 89, 90); */
    border-radius: 30px;
}

.category{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding: 10px;
    margin-top: 50px;
}

@media only screen and (max-width: 750px) {
  .category{
      margin-top:10px;
  }
  .tag{
    margin-top: 5px;
    margin-right: 5px;
  }
 }